<h1>Chat</h1>
<hr>
<div class="app-mensajes" id="app-mensajes">
    <div class="text-right">
        <span class="badge badge-primary">Osvani</span>
        <p>Este es un mensaje del chat</p>
    </div>
    <div>
        <span class="badge badge-success">María</span>
        <p>Saludos Osvani</p>
    </div>
    <div>
        <span class="badge badge-success">María</span>
        <p>Saludos Osvani</p>
    </div>
    <div>
        <span class="badge badge-success">María</span>
        <p>Saludos Osvani</p>
    </div>
    <div>
        <span class="badge badge-success">María</span>
        <p>Saludos Osvani</p>
    </div>
    <div>
        <span class="badge badge-success">María</span>
        <p>Saludos Osvani</p>
    </div>
    <div>
        <span class="badge badge-success">María</span>
        <p>Saludos Osvani</p>
    </div>
    <div>
        <span class="badge badge-success">María</span>
        <p>Saludos Osvani</p>
    </div>
</div>

<input type="text" class="form-control" name="mensaje" [(ngModel)]="mensaje" placeholder="Enviar mensaje" (keyup.enter)="enviarMensaje()">